table {
    border-collapse: separate;
    border-spacing: 5px; 
    width: 50%;
    margin: 0 auto;
    border: 2px solid blue;
}

th, td {
    border: 1px solid blue;
    padding: 8px;
    text-align: center;
}

caption {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.col-style {
    background-color: #ffeecc;
}
